.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(44, 43, 43);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}
.logo {
  font-family: "Hanalei", cursive;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  margin-left: 100px;
  text-decoration: none;
}
.header-box {
  width: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  cursor: pointer;
  color: #fff;
}
.header-boxes :hover {
  background-color: rgb(51, 50, 50);
}
.header-boxes {
  height: 100%;
  width: 200px;
  margin-right: 50px;
  display: flex;
}
