.home-container {
  width: 80%;
  margin: 0 auto;
}
.home-background-image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  pointer-events: none;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.product-row {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.home-container > h2 {
  color: #444;
  text-align: center;
  border-bottom: 1px solid #333;
  margin-top: 10px;
}
